@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager
@model BlindDating.Models.MailMessage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h4>DatingProfile</h4>

<div>
    <form asp-action="Send">
            
        <div class="form-group">
            <label asp-for="MessageTitle" class="control-label"></label>
            <input asp-for="MessageTitle" class="form-control" />
            <span asp-validation-for="MessageTitle" class="text-danger"></span>
        </div>
            
        <div class="form-group">
            <label asp-for="MessageText" class="control-label"></label>
            <input asp-for="MessageText" class="form-control" />
            <span asp-validation-for="MessageText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-default"/>
        </div>
 
    </form>
</div>

<div>
    <a asp-action="ProfileInfo">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
